<!DOCTYPE html>
<html>
	<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<script> 
	$(document).ready(function(){
  		$("#demount").click(function(){
    		$("#demount_panel").slideToggle("slow");
  		});
	});
	$(document).ready(function(){
  		$("#floor").click(function(){
    		$("#floor_panel").slideToggle("slow");
  		});
	});
	$(document).ready(function(){
  		$("#wall").click(function(){
    		$("#wall_panel").slideToggle("slow");
  		});
	});
	$(document).ready(function(){
  		$("#doorway").click(function(){
    		$("#doorway_panel").slideToggle("slow");
  		});
	});
	$(document).ready(function(){
  		$("#ceiling").click(function(){
    		$("#ceiling_panel").slideToggle("slow");
  		});
	});
	$(document).ready(function(){
  		$("#tile").click(function(){
    		$("#tile_panel").slideToggle("slow");
  		});
	});
	$(document).ready(function(){
  		$("#electric").click(function(){
    		$("#electric_panel").slideToggle("slow");
  		});
	});
	$(document).ready(function(){
  		$("#sanitary").click(function(){
    		$("#sanitary_panel").slideToggle("slow");
  		});
	});
	$(document).ready(function(){
  		$("#other").click(function(){
    		$("#other_panel").slideToggle("slow");
  		});
	});

	$(document).ready(function(){
		$('#calculate').bind('click', function() {
			var dict = {}
			var ids = []
			var datas = []
			$(".result").each(function() {
				if (this.value == ""){
					alert("Fill all fields!");
					return false;
				}
				
				/*alert('it is checking for number')*/
				
				if ($.isNumeric(this.value)) {
					ids.push(this.id);
					datas.push(this.value);
				} else {
					alert("Insert only numbers");
					return false;
				}
			});
			
			if (jQuery.isEmptyObject(ids)) {
				return false;
			} else {
				/*alert('it is filling dict')*/
		
				for (var i = 0; i < ids.length; i++){
					dict[ids[i]] = datas[i];
				}
			}
			
			
			/*alert('it check if dict is not empty')*/
			
			if (jQuery.isEmptyObject(dict)) {
				return false;
			} else {
				/*alert('it sends request anyway')*/
				$.getJSON('/get_result', dict, function(data) {
					$("#result").text(data.result);
				});
				return false;
			}
		});
	});
	
	$( "#demount" ).toggle();
	$( "#floor" ).toggle();
	$( "#wall" ).toggle();
	$( "#doorway" ).toggle();
	$( "#ceiling" ).toggle();
	$( "#tile" ).toggle();
	$( "#electric" ).toggle();
	$( "#sanitary" ).toggle();
	$( "#other" ).slideToggle();
	
	</script>
	
	
	</head>
	<body>
	
	{% block main %}
	
	<h1 id="welcome">Добро пожаловать</h1>
	
	{% if session.username %}
		<div class="user">({{session.username}})</div>
	{% endif %}
	
	<div id="menu">
	<div id="demount">ДЕМОНТАЖ</div>
	<div id="demount_panel">
		<form name="demount" action="{{ url_for('select_work', url='Demount') }}" method="post">
			<p>{{ demount.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	<div id="tile">ПЛИТКА</div>
	<div id="tile_panel">
		<form name="tile" action="{{ url_for('select_work', url='Tile') }}" method="post">
			<p>{{ tile.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	<div id="floor">ПОЛ</div>
	<div id="floor_panel">
		<form name="floor" action="{{ url_for('select_work', url='Floor') }}" method="post">
			<p>{{ floor.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	<div id="wall">СТЕНЫ</div>
	<div id="wall_panel">
		<form name="wall" action="{{ url_for('select_work', url='Wall') }}" method="post">
			<p>{{ wall.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	<div id="doorway">ПРОЕМ</div>
	<div id="doorway_panel">
		<form name="doorway" action="{{ url_for('select_work', url='Doorway') }}" method="post">
			<p>{{ doorway.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	<div id="ceiling">ПОТОЛОК</div>
	<div id="ceiling_panel">
		<form name="ceiling" action="{{ url_for('select_work', url='Ceiling') }}" method="post">
			<p>{{ ceiling.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	<div id="electric">ЭЛЕКТРИКА</div>
	<div id="electric_panel">
		<form name="electric" action="{{ url_for('select_work', url='Electric') }}" method="post">
			<p>{{ electric.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	<div id="sanitary">САНТЕХНИКА</div>
	<div id="sanitary_panel">
		<form name="sanitary" action="{{ url_for('select_work', url='Sanitary') }}" method="post">
			<p>{{ sanitary.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	<div id="other">РАЗНОЕ</div>
		<div id="other_panel">
		<form name="other" action="{{ url_for('select_work', url='Other') }}" method="post">
			<p>{{ other.name }}</p>
			<p><input type="submit" value="Choose"></p>
		</form>
	</div>
	
	</div>
	
	{% if selected %}
		<div id="chosen">
			<table class="chosen_table">
				{% for key, value in selected.iteritems() %}
					<tr class="header"><td>{{key}}</td></tr>
						{% for record in value %}
						<tr>
							<td>{{record[0]}}</td><td><input type="text" id="{{record[1]}}" size="5" class="result"></td><td>{{record[2]}}</td><td><a href="{{ url_for('delete', url=record[1]) }}" id="delete" >delete</a></td>
						</tr>
						{% endfor %}
				{% endfor %}
			</table>
			
			<input type="button" id="calculate" value="Submit">
			
			<p>Стоимость <span id=result>?</span> грн</p>
			
			<a href="/clear">Очистить</a>
		</div>
	{% endif %}
	
	{% if session.permission == "authenticated" %}
		<a href="/database" class="database">Просмотреть прайс</a>
	{% endif %}
	
	{% endblock main %}
	
	{% if not session.permission %}
			<a href="/login" class="logoutlogin">Login</a><br>
			<a href="/register" class="register">Register</a><br>
	{% elif session.permission %}
			<a href="/logout" class="logoutlogin">Logout</a><br>
	{% endif %}
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="flash">
				{% for message in messages %}
					<p class="flashmessage">{{ message }}</p>
				{% endfor %}
				
			</div>
		{% endif %}
	{% endwith %}
	</body>
</html>
